<%- include('../partials/header.ejs')%>
<head>
    <title>Interactive Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>  

    <style>
        body { margin:0; padding:0; }
        #map { position: relative; 
        width: 1980px; height: 1080px }
    </style>
    </head>

    <body>
    <div id="map" ></div>
    <script>  
  var locations = [
       ['CRI Deck <br> Average Riders <%=avgStopRiders['CRI Deck']%> <br> Total Stops: <%=stopNumbers['CRI Deck']%><br> Off Average: <%=offAverages['CRI Deck']%>' , 35.30948257, -80.74412537] ,
       ['Martin Hall <br> Average Riders <%=avgStopRiders['Martin Hall']%> <br>  Total Stops:<%=stopNumbers['Martin Hall']%><br> Off Average: <%=offAverages['Martin Hall']%>',35.31031799, -80.72667694 ] ,
       ['Lot 5A <br> Average Riders <%=avgStopRiders['Lot 5A']%> <br> Total Stops: <%=stopNumbers['Lot 5A']%><br> Off Average: <%=offAverages['Lot 5A']%>', 35.30722427, -80.72528076] ,
       ['Duke Centennial Hall East <br> Average Riders <%=avgStopRiders['Duke Centennial Hall East']%> <br>  Total Stops:<%=stopNumbers['Duke Centennial Hall East']%><br> Off Average: <%=offAverages['Duke Centennial Hall East']%>' ,35.31235123,-80.74175263 ] ,
       ['Lot 6 <br> Average Riders <%=avgStopRiders['Lot 6']%> <br>  Total Stops: <%=stopNumbers['Lot 6']%><br> Off Average: <%=offAverages['Lot 6']%>' ,35.30878449,-80.72507477 ] ,
       ['Student Union W <br> Average Riders <%=avgStopRiders['Student Union W']%> <br>  Total Stops: <%=stopNumbers['Student Union W']%><br> Off Average: <%=offAverages['Student Union W']%>',35.30792999,-80.73485565 ] ,
       ['Grigg Hall E <br> Average Riders <%=avgStopRiders['Grigg Hall E']%> <br>  Total Stops: <%=stopNumbers['Grigg Hall E']%><br> Off Average: <%=offAverages['Grigg Hall E']%>', 35.3109932, -80.74141693] ,
       ['Student Health N <br> Average Riders <%=avgStopRiders['Student Health N']%> <br>  Total Stops:<%=stopNumbers['Student Health N']%><br> Off Average: <%=offAverages['Student Health N']%>', 35.3107338,-80.72931671 ] ,
       ['PORTAL East <br> Average Riders <%=avgStopRiders['PORTAL East']%> <br>  Total Stops: <%=stopNumbers['PORTAL East']%><br> Off Average: <%=offAverages['PORTAL East']%>',35.31167221,-80.74246979 ] ,
       ['Woodward Hall East <br> Average Riders <%=avgStopRiders['Woodward Hall East']%> <br>  Total Stops:<%=stopNumbers['Woodward Hall East']%><br> Off Average: <%=offAverages['Woodward Hall East']%>', 35.30797195, -80.73479462 ] ,
       ['Wallis Hall W/Light Rail <br> Average Riders <%=avgStopRiders['Wallis Hall W/Light Rail']%> <br>  Total Stops:<%=stopNumbers['Wallis Hall W/Light Rail']%><br> Off Average: <%=offAverages['Wallis Hall W/Light Rail']%>',35.31196594,-80.73337555] ,
       ['Aux Services East <br> Average Riders <%=avgStopRiders['Aux Services East']%> <br>  Total Stops:<%=stopNumbers['Aux Services East']%><br> Off Average: <%=offAverages['Aux Services East']%>',35.30807877,-80.73038483] ,
       ['Union Deck/Belk N <br> Average Riders <%=avgStopRiders['Union Deck/Belk N']%> <br> Total Stops: <%=stopNumbers['Union Deck/Belk N']%> <br> Off Average: <%=offAverages['Union Deck/Belk N']%>',35.30806732, -80.7327652] ,
       ['Grigg Hall W <br> Average Riders <%=avgStopRiders['Grigg Hall W']%> <br>  Total Stops:<%=stopNumbers['Grigg Hall W']%><br> Off Average: <%=offAverages['Grigg Hall W']%>' ,35.31105804,-80.74134827] ,
       ['Wallis Hall E/Light Rail <br> Average Riders <%=avgStopRiders['Wallis Hall E/Light Rail']%> <br> Total Stops: <%=stopNumbers['Wallis Hall E/Light Rail']%><br> Off Average: <%=offAverages['Wallis Hall E/Light Rail']%>',35.31169128,-80.73307037] ,
       ['East Deck 2 <br> Average Riders <%=avgStopRiders['East Deck 2']%> <br> Total Stops: <%=stopNumbers['East Deck 2']%><br> Off Average: <%=offAverages['East Deck 2']%>',35.30635452,-80.72676086] ,
       ['Athletics Complex W <br> Average Riders <%=avgStopRiders['Athletics Complex W']%> <br>  Total Stops:<%=stopNumbers['Athletics Complex W']%><br> Off Average: <%=offAverages['Athletics Complex W']%>',35.3093071,-80.74128723] ,
       ['Robinson Hall S <br> Average Riders <%=avgStopRiders['Robinson Hall S']%> <br>  Total Stops: <%=stopNumbers['Robinson Hall S']%><br> Off Average: <%=offAverages['Robinson Hall S']%>',35.31085968,-80.72926331] ,
       ['Aux Services West <br> Average Riders <%=avgStopRiders['Aux Services West']%> <br> Total Stops: <%=stopNumbers['Aux Services West']%><br> Off Average: <%=offAverages['Aux Services West']%>',35.3081131,-80.73021698] ,
       ['EPIC N <br> Average Riders <%=avgStopRiders['EPIC N']%> <br>  Total Stops: <%=stopNumbers['EPIC N']%><br> Off Average: <%=offAverages['EPIC N']%>' ,35.30989456,-80.74181366] ,
       ['Hickory Hall South <br> Average Riders <%=avgStopRiders['Hickory Hall South']%> <br>   Total Stops: <%=stopNumbers['Hickory Hall South']%><br> Off Average: <%=offAverages['Hickory Hall South']%>',35.30904007,-80.72939301] ,
       ['Fretwell N <br> Average Riders <%=avgStopRiders['Fretwell N ']%> <br>  Total Stops: <%=stopNumbers['Fretwell N ']%><br> Off Average: <%=offAverages['Fretwell N']%>' ,35.30743027,-80.72937775] ,
       ['Reese East <br> Average Riders <%=avgStopRiders['Reese East']%> <br> Total Stops: <%=stopNumbers['Reese East']%><br> Off Average: <%=offAverages['Reese East']%>',35.30433273,-80.73278809] ,
       ['Hunt Hall <br> Average Riders <%=avgStopRiders['Hunt Hall']%> <br> Total Stops: <%=stopNumbers['Hunt Hall']%><br> Off Average: <%=offAverages['Hunt Hall']%>',35.30121994,-80.7355957] ,
       ['Robinson Hall N <br> Average Riders <%=avgStopRiders['Robinson Hall']%> <br>  Total Stops: <%=stopNumbers['Robinson Hall']%><br> Off Average: <%=offAverages['Robinson Hall']%>',35.30334091,-80.72945404] ,
       ['Cato Hall N <br> Average Riders <%=avgStopRiders['Cato Hall N']%> <br>  Total Stops: <%=stopNumbers['Cato Hall N']%><br> Off Average: <%=offAverages['Cato Hall N']%>',35.30506134,-80.7282486] ,
       ['Fretwell S <br> Average Riders <%=avgStopRiders['Fretwell S']%> <br>  Total Stops: <%=stopNumbers['Fretwell S']%><br> Off Average: <%=offAverages['Fretwell S']%>',35.30702591,-80.72943878] ,
       ['Cato Hall S <br> Average Riders <%=avgStopRiders['Cato Hall S']%> <br>  Total Stops: <%=stopNumbers['Cato Hall S']%><br> Off Average: <%=offAverages['Cato Hall S']%>',35.30509186,-80.72821808] ,
       ['Foundation Bldg. North <br> Average Riders <%=avgStopRiders['Foundation Bldg. North']%> <br>  Total Stops: <%=stopNumbers['Foundation Bldg. North']%><br> Off Average: <%=offAverages['Foundation Bldg. North']%>',35.29786682,-80.73634338] ,
       ['Reese West <br> Average Riders <%=avgStopRiders['Reese West']%> <br>  Total Stops: <%=stopNumbers['Reese West']%><br> Off Average: <%=offAverages['Reese West']%> ',35.3044281,-80.73279572] ,
       ['Harris Alumni Center South <br> Average Riders <%=avgStopRiders['Harris Alumni Center South']%> <br>  Total Stops:  <%=stopNumbers['Harris Alumni Center South']%><br> Off Average: <%=offAverages['Harris Alumni Center South']%>',35.30276108,-80.73832703] ,
       ['Harris Alumni Center North <br> Average Riders <%=avgStopRiders['Harris Alumni Center North']%> <br>  Total Stops: <%=stopNumbers['Harris Alumni Center North']%><br> Off Average: <%=offAverages['Harris Alumni Center North']%>', 35.30317307,-80.73797607] ,
       ['Belk Hall S <br> Average Riders <%=avgStopRiders['Belk Hall S']%> <br>   Total Stops:<%=stopNumbers['Belk Hall S']%><br> Off Average: <%=offAverages['Belk Hall S']%>',35.31021881,-80.73612213] ,
       ['North Deck <br> Average Riders <%=avgStopRiders['North Deck']%> <br>  Total Stops: <%=stopNumbers['North Deck']%><br> Off Average: <%=offAverages['North Deck']%>',35.31352615,-80.73197174] ,
       ['South Village Deck <br> Average Riders <%=avgStopRiders['South Village Deck']%> <br>  Total Stops: <%=stopNumbers['South Village Deck']%><br> Off Average: <%=offAverages['South Village Deck']%>',35.30109024,-80.73571777] ,
       ['Levine Hall E <br> Average Riders <%=avgStopRiders['Levine Hall E']%> <br>  Total Stops:<%=stopNumbers['Levine Hall E']%><br> Off Average: <%=offAverages['Levine Hall E']%>',35.30224228,-80.73267365] ,
       ['Motor Sports <br> Average Riders <%=avgStopRiders['Motor Sports']%> <br>   Total Stops:<%=stopNumbers['Motor Sports']%><br> Off Average: <%=offAverages['Motor Sports']%>',35.31280136,-80.74092865] ,
       ['Cone Deck East <br> Average Riders <%=avgStopRiders['Cone Deck East']%> <br>   Total Stops:<%=stopNumbers['Cone Deck East']%><br> Off Average: <%=offAverages['Cone Deck East']%>',35.3042717,-80.7350235] ,
       ['Levine Hall W <br> Average Riders <%=avgStopRiders['Levine Hall W']%> <br>  Total Stops: <%=stopNumbers['Levine Hall W']%><br> Off Average: <%=offAverages['Levine Hall W']%>',35.30192566,-80.7330246] ,
       ['Athletics Complex E <br> Average Riders <%=avgStopRiders['Athletics Complex E']%> <br> Total Stops:  <%=stopNumbers['Athletics Complex E']%><br> Off Average: <%=offAverages['Athletics Complex E']%>',35.30736542,-80.73970032] ,
       ['Hickory Hall North <br> Average Riders <%=avgStopRiders['Hickory Hall North']%> <br>  Total Stops: <%=stopNumbers['Hickory Hall North']%><br> Off Average: <%=offAverages['Hickory Hall North']%>',35.30928532607679, -80.72931301857577] ,
];
        var mapOptions = {
            center: [35.307088816476536, -80.7352033975093],
            zoom: 1
        }  // https://www.openstreetmap.org/way/168664114#map=15/35.3069/-80.7337
       var map = L.map('map').setView([35.3069,-80.7337], 16); 
       var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 
           attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'    
        }).addTo(map);
        
        for (var i = 0; i < locations.length; i++) {
         marker = new L.marker([locations[i][1], locations[i][2]])
        .bindPopup(locations[i][0])
        .addTo(map);
}
    </script>
    </body>

<%- include('../partials/footer.ejs')%> 