<%- include('../partials/header.ejs')%>
<div class ="leftDiv">
<div>
    <canvas id="myChart" height="500" width="500"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  
  <script>
    const labels = [
      'Green',
      'Gold',
      'Silver',
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        color: 'rgb(0, 0, 0)',
        label: 'Line Trend Data',
        backgroundColor:[
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)'
      ]
      ,
        borderColor: 'rgb(0, 0, 0)',
        data: 
        [ <%=avgRiders['green']%>,
        <%=avgRiders['gold']%>,
        <%=avgRiders['silver']%>],
      }]
    };  

    const config = {
      type: 'pie',
      data: data,
      options: {
         
         layout:{
               padding:{
                   right:200,
                   top: 75
               }
           },
         "responsive": true,
         "maintainAspectRatio": false
         
 
       }
    };
  </script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
</div>

<br><br><br>
<div class="rightDivLine">
<table class = "table_Data">


    <tr>
      <th>Average Rider's </th>
      <th>Busiest Time</th>
    </tr>
    <tr>
      <td>Gold Line: <%=avgRiders['gold']%></td>
      <td>Gold Line: <%=peakTime['gold']%></td>  
    </tr>
    <tr>
     
        <td> Silver Line: <%=avgRiders['silver']%> </td>
        <td>Silver Line <%=peakTime['silver']%></td> 
    </tr>
    <tr>
        <td>Green Line: <%=avgRiders['green']%></td>
        <td>Green Line <%=peakTime['green']%></td> 
    </tr>
  </table>

  
</div>

<a href="#" class="month">January</a>
  <a href="#" style="background-color:gold" class="month" color>Febuary</a>
  <a href="#" style="background-color:silver" class="month">March</a>
  <a href="#" class="month">April</a><br>
  <a href="#" style="background-color:gold" class="month">May</a>
  <a href="#" style="background-color:silver" class="month">June</a>
  <a href="#" class="month">July</a>
  <a href="#" style="background-color:gold" class="month">August</a><br>
  <a href="#" style="background-color:silver" class="month">September</a>
  <a href="#" class="month">October</a>
  <a href="#" style="background-color:gold" class="month">November</a>
  <a href="#" style="background-color:silver" class="month">Decemeber</a>
  
</div>

<%- include('../partials/footer.ejs')%>