<%- include('../partials/header.ejs')%>

<div class="leftDiv">
    <canvas id="myChart" height="600" width="1100"></canvas>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const labels = [
      "CRI Deck",
      "Martin Hall",
      "Lot 5A",
"Cone Deck W",
"Duke Centennial Hall East",
"Lot 6",
"Student Union W",
"Grigg Hall E",
"Student Union E",
"Student Health N",
"PORTAL East",
"Woodward Hall East",
"Portal W",
"Wallis Hall W/Light Rail",
"Aux Services East",
"Union Deck/Belk N",
"Grigg Hall W",
"Wallis Hall E/Light Rail",
"East Deck 2",
"Athletics Complex W",
"Student Health E",
"Robinson Hall S",
"Aux Services West",
"EPIC N",
"Hickory Hall South",
"Fretwell N",
"Hickory Hall North",
"Student Health (Green) W",
"Reese East",
"Hunt Hall",
"Robinson Hall N",
"Cato Hall N",
"Fretwell S",
"Cone Deck East",
"Cato Hall S",
"Athletics Complex E",
"Foundation Bldg. North",
"Event",
"Reese West",
"Harris Alumni Center South",
"Levine Hall W",
"Harris Alumni Center North",
"Belk Hall S",
"North Deck",
"South Village Deck",
"Levine Hall E",
"Motor Sports",
"Foundation Bldg. South",
"Alumni Way E"
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        color: 'rgb(0, 0, 0)',
        label: 'Bus Stop Data',
        backgroundColor:[
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
         'rgb(89,248,89)',
         'rgb(255, 223, 0)',
         'rgb(192, 192, 192)',
      ]
      ,
        borderColor: 'rgb(0, 0, 0)',
        data: 
        [ <%=avgStopRiders['CRI Deck']%>,
        <%=avgStopRiders['Martin Hall']%>,
        <%=avgStopRiders['Lot 5A']%>,
        <%=avgStopRiders['Cone Deck W']%>,
        <%=avgStopRiders['Duke Centennial Hall East']%>,
        <%=avgStopRiders['Lot 6']%>,
        <%=avgStopRiders['Student Union W']%>,
        <%=avgStopRiders['Grigg Hall E']%>,
        <%=avgStopRiders['Student Union E']%>,
        <%=avgStopRiders['Student Health N']%>,
        <%=avgStopRiders['PORTAL East']%>,
        <%=avgStopRiders['Woodward Hall East']%>,
        <%=avgStopRiders['Portal W']%>,
        <%=avgStopRiders['Wallis Hall W/Light Rail']%>,
        <%=avgStopRiders['Aux Services East']%>,
        <%=avgStopRiders['Union Deck/Belk N']%>,
        <%=avgStopRiders['Grigg Hall W']%>,
        <%=avgStopRiders['Wallis Hall E/Light Rail']%>,
        <%=avgStopRiders['East Deck 2']%>,
        <%=avgStopRiders['Athletics Complex W']%>,
        <%=avgStopRiders['Student Health E']%>,
        <%=avgStopRiders['Robinson Hall S']%>,
        <%=avgStopRiders['Aux Services West']%>,
        <%=avgStopRiders['EPIC N']%>,
        <%=avgStopRiders['Hickory Hall South']%>,
        <%=avgStopRiders['Fretwell N']%>,
        <%=avgStopRiders['Hickory Hall North']%>,
        <%=avgStopRiders['Student Health (Green) W']%>,
        <%=avgStopRiders['Reese East']%>,
        <%=avgStopRiders['Hunt Hall']%>,
        <%=avgStopRiders['Robinson Hall N']%>,
        <%=avgStopRiders['Cato Hall N']%>,
        <%=avgStopRiders['Fretwell S']%>,
        <%=avgStopRiders['Cone Deck East']%>,
        <%=avgStopRiders['Cato Hall S']%>,
        <%=avgStopRiders['Athletics Complex E']%>,
        <%=avgStopRiders['Foundation Bldg. North']%>,
        <%=avgStopRiders['Event']%>,
        <%=avgStopRiders['Reese West']%>,
        <%=avgStopRiders['Harris Alumni Center South']%>,
        <%=avgStopRiders['Levine Hall W']%>,
        <%=avgStopRiders['Harris Alumni Center North']%>,
        <%=avgStopRiders['Belk Hall S']%>,
        <%=avgStopRiders['North Deck']%>,
        <%=avgStopRiders['South Village Deck']%>,
        <%=avgStopRiders['Levine Hall E']%>,
        <%=avgStopRiders['Motor Sports']%>,
        <%=avgStopRiders['Foundation Bldg. South']%>,
        <%=avgStopRiders['Alumni Way E']%>
    ],
      }]
    };  

    const config = {
      type: 'bar',
      data: data,
      options: {
         
         layout:{
               padding:{
                   right:0,
                   top: 75
               }
           },
         "responsive": false,
         "maintainAspectRatio": false
         
 
       }
    };
  </script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

</div>


<div class="rightDiv">
  <h1>Selected Month: October.</h1>
  <a href="/trends/stoptrends01" class="month">January</a>
  <a href="/trends/stoptrends02" style="background-color:gold" class="month" color>Febuary</a>
  <a href="/trends/stoptrends03" style="background-color:silver" class="month">March</a>
  <a href="/trends/stoptrends04" class="month">April</a><br>
  <a href="/trends/stoptrends05" style="background-color:gold" class="month">May</a>
  <a href="/trends/stoptrends06" style="background-color:silver" class="month">June</a>
  <a href="/trends/stoptrends07" class="month">July</a>
  <a href="/trends/stoptrends08" style="background-color:gold" class="month">August</a><br>
  <a href="/trends/stoptrends09" style="background-color:silver" class="month">September</a>
  <a href="/trends/stoptrends10" class="month">October</a>
  <a href="/trends/stoptrends11" style="background-color:gold" class="month">November</a>
  <a href="/trends/stoptrends12" style="background-color:silver" class="month">Decemeber</a>
  
</div>


<%- include('../partials/footer.ejs')%>